@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

.wrapper {
  padding: 0px 12px 0 12px;
  font-family: Roboto;
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbc-month-header {
  color: black;
}
.rbc-event {
  width: auto;
}

.rbc-toolbar-label {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-content {
  background: #323b43;
}

.close {
  color: white;
}

.form-control {
  width: 100%;
  height: calc(1.5em + 0.9rem + 2px);
  padding: 0.45rem 0.9rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #5d666d;
  background-clip: padding-box;
  border: 1px solid #495561;
  border-radius: 0.2rem;
  outline: 0;
}

.form-control:focus {
  background-color: #84888c;
  color: #fff;
  border-color: #414d59;
}

.save,
.save:hover,
.save:focus {
  background: #4aa1f3;
  border: 1px solid #4aa1f3;
}

.save:disabled {
  background: #414d59;
  border: 1px solid #414d59;
}

.eventTag-blue {
  background-color: #0275d8;
}

.eventTag-red {
  background-color: #d9534f;
}

.eventTag-yellow {
  background-color: #f0ad4e;
}

.eventTag-green {
  background-color: #5cb85c;
}

.eventTag-lightBlue {
  background-color: #5bc0de;
}
