.chatCont{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 200;
}

.chatOpener{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--primary);
}

.newMsgBadge{
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--danger);
    top: 0px;
    right: 0px;
    border-radius: 50px;
}

.chatWindow{
    font-size: 20px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    animation: openChat 0.5s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.closeChat{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.chatList{
    flex-grow: 10;
    font-size: 0.7em;
    overflow-y: auto;
}

.newChat{
    font-size: 20px;
    color: var(--primary);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes openChat{
    from{
        opacity: 0;
        transform: translateY(50px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.chatMsg{
    margin: 10px 10px;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    background: var(--primary);
    color: var(--light);
    border: solid 1px var(--primary);
}

.chatMsg.from{
    text-align: right;
    background: var(--light);
    color: var(--primary);
}

.msgTime{
    font-size: 0.8em;
    opacity: 0.7;
}