.profileInitalCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
.maxDivWidth {
  max-width: 1200px;
}
