.signInOutDiv {
  max-width: 425px;
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  animation: sign-fade 0.5s ease forwards;
}

@keyframes sign-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.signInOutDiv h2 {
  margin: 0 0 15px;
}

.signInOutDiv .stickyAlert .alert {
  margin: 0;
}

.signInOutDiv .hint-text {
  color: #777;
  padding-bottom: 0px;
  text-align: center;
}

.signInOutDiv .fgotPass-text {
  padding-top: 8px;
}

.signInOutDiv .input-group-text .fa {
  width: 18px;
}

.signInOutDiv .or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.signInOutDiv .or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}

.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

.bgImage {
  height: 100vh;
  width: 100%;
  background: url("/bg.png");
  background-size: 100px;
  background-repeat: repeat;
  animation: homeBg 5s linear infinite;
}

.homeOne {
  margin-top: -50px;
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 100px;
}

.ctaButton {
  font-size: 2vw;
  letter-spacing: 1px;
  position: absolute;
  bottom: unset;
  left: unset;
  right: 50px;
  top: 0;
  transform: rotate(30deg) skew(-30deg);
  box-shadow: 
    1px 1px 0px var(--info), 
    2px 2px 0px var(--info), 
    3px 3px 0px var(--info), 
    4px 4px 0px var(--info),
    5px 5px 0px var(--info),
    6px 6px 0px var(--info), 
    7px 7px 0px var(--info),
    10px 3px 0px rgba($color: #000000, $alpha: 0.2);
  z-index: 10;
  animation: ctaShow 1s ease ;
  transition: all 0.4s ease !important;
}

@keyframes ctaShow{
  from{
    transform: translateY(-20px) rotate(30deg) skew(-30deg);
    box-shadow: 
      1px 1px 0px var(--info), 
      2px 2px 0px var(--info), 
      3px 3px 0px var(--info), 
      4px 4px 0px var(--info),
      5px 5px 0px var(--info),
      6px 6px 0px var(--info), 
      7px 7px 0px var(--info),
      15px 12px 5px rgba($color: #000000, $alpha: 0.2);
  }

  to{
    box-shadow: 
      1px 1px 0px var(--info), 
      2px 2px 0px var(--info), 
      3px 3px 0px var(--info), 
      4px 4px 0px var(--info),
      5px 5px 0px var(--info),
      6px 6px 0px var(--info), 
      7px 7px 0px var(--info),
      10px 3px 0px rgba($color: #000000, $alpha: 0.2);
    transform: rotate(30deg) skew(-30deg);
  }
}

.ctaButton:hover {
  border-color: lighten($primary, 5%);
  background: lighten($primary, 5%);
  transform: translateY(-5px) rotate(30deg) skew(-30deg);
  box-shadow: 
    1px 1px 0px var(--info), 
    2px 2px 0px var(--info), 
    3px 3px 0px var(--info), 
    4px 4px 0px var(--info),
    5px 5px 0px var(--info),
    6px 6px 0px var(--info), 
    7px 7px 0px var(--info),
    15px 12px 5px rgba($color: #000000, $alpha: 0.2);
}

.ctaButton i{
  transition: all 0.3s ease;
  animation: cta 1s ease alternate infinite;
}

@keyframes cta{
  from{
    transform: translateX(0px);
  }

  to{
    transform: translateX(5px);
  }
}

@media (min-width: 992px) { 
  .ctaButton {
    font-size: 1vw;
    bottom: 0;
    left: 0;
    right: unset;
    top: unset;
  }
}

.scrollIndicator{
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-size: 1.2em;
  color: var(--info);
  line-height: 20px;
  opacity: 0.3;
}

.scrollIndicator i{
  font-size: 25px;
  animation: scrollIndicator 2s ease infinite;
}

@keyframes scrollIndicator{
  0%{
    opacity: 0;
    transform: translateY(0px);
  }

  50%{
    opacity: 1;
    transform: translateY(5px);
  }

  100%{
    opacity: 0;
    transform: translateY(5px);
  }
}

.homeSplash {
  z-index: 20;
  box-sizing: border-box;
  padding: 0px 20px;
  max-width: 100%;
}

.homeSplash #logo {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: transparent;
  stroke: var(--primary);
  stroke-width: 2px;
}

.homeWindow {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 500px var(--light);
}

.homeNav {
  padding: 5px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 50;
}

.cls-1 {
  fill: #4d4d4d;
}

.spinTrade{
  animation: spinTrade 2s ease infinite;
}

@keyframes spinTrade{
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

.collectAni{
  animation: collectAni 2s ease infinite;
}

@keyframes collectAni{
  0%{
    transform: rotate(0deg);
  }

  10%{
    transform: rotate(5deg);
  }

  20%{
    transform: rotate(-5deg);
  }

  30%{
    transform: rotate(5deg);
  }

  40%{
    transform: rotate(-5deg);
  }

  50%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(0deg);
  }
}

.connectAni{
  animation: connectAni 2s ease infinite;
}

@keyframes connectAni{
  0%{
    transform: scale(1);
  }

  30%{
    transform: scale(1.2);
  }

  50%{
    transform: scale(1);
  }

  100%{
    transform: scale(1);
  }
}

.inView{
  opacity: 0;
}

.home{
  font-size: 1.2rem;
}
