.list-group-item{
    transition: all 0.4s ease;
    border-radius: 0px !important;
}

.list-group-item.active {
    box-shadow: -5px 0px 0px $success;
    background: $light;
    border-color: $success;
    color: $dark;
}

.maxSidebarWidth {
  max-width: 270px;
}