/*Bootstrap theme overrides

COLOURS:
    $primary:       $blue !default;
    $secondary:     $gray-600 !default;
    $success:       $green !default;
    $info:          $cyan !default;
    $warning:       $yellow !default;
    $danger:        $red !default;
    $light:         $gray-100 !default;
    $dark:          $gray-800 !default;
*/

$primary: #3d82ac;
$secondary: #0a0c0f;
$success: #34bc66;
$danger: #f3422e;
$info: #1f242e;
$warning: #ffbf49;
$light: #fcfcfc;
$dark: #020203;

$body-bg: $light;
$body-color: $dark;

$card-bg: $light;

$thumbnail-border-width: 0;
$thumbnail-bg: none;

$enable-responsive-font-sizes: true;
