/*Bootstrap theme overrides

COLOURS:
    $primary:       $blue !default;
    $secondary:     $gray-600 !default;
    $success:       $green !default;
    $info:          $cyan !default;
    $warning:       $yellow !default;
    $danger:        $red !default;
    $light:         $gray-100 !default;
    $dark:          $gray-800 !default;
*/

$primary:#102542;
$secondary:#F56476;
$success:#04bd98;
$danger:#f3422e;
$info:#245294;
$warning:#E6AF2E;
$light:#fcfcfc;
$dark:#000500;

$body-bg: $light;