/************************************************** 
Search the following category to find things easier
Posts CSS
Login & Logout CSS
***************************************************/
#root {
  height: 100vh;
}

.bgImage {
  background-image: url("./images/bgBackground.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/**************************************************/
/* Posts CSS */
/**************************************************/
.postRow {
  padding-top: 5px;
  padding-bottom: 5px;
}

#root {
  background-color: rgb(231, 231, 231);
}

/**************************************************/
/* Login & Logout CSS*/
/**************************************************/
.signInOutDiv {
  margin: 30px auto;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 5px;
}

.signInOutDiv h2 {
  margin: 0 0 15px;
}
.signInOutDiv .hint-text {
  color: #777;
  padding-bottom: 0px;
  text-align: center;
}
.alert {
  text-align: left;
}
.signInOutDiv .fgotPass-text {
  padding-top: 8px;
}

.signInOutDiv .input-group-text .fa {
  
  width:18px;
}


.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}
.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}
.container{
  font-family: 'Montserrat', sans-serif;
}

/* .orSocialLogin {
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  background-size: 40% 1px;
  background-position: center left, center right;
  background-repeat: no-repeat;
}

.btnFacebook {
  height: 45px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  display: inline-block;
}
.btnGoogle {
  height: 45px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  text-align: center;
}
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
} */
