/************************************************** 
Search the following category to find things easier
Posts CSS
Login & Logout CSS
Navbar CSS
Sidebar CSS
Profile CSS
GuruCollection CSS
Calendar CSS
***************************************************/
html,
body {
  height: 100%;
}
:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

body {
  background-color: rgb(231, 231, 231);
  background-repeat: repeat;
}

.bgImage {
  background-image: url("./images/bgBackground.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.header-font {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}
/*general class for changing item to button*/
.cursor-pointer{
  cursor: pointer;
}
/**************************************************/
/* Sidebar CSS */
/**************************************************/
.list-group-item.active {
  background-color: #bee5eb;
  border-color: #bee5eb;
  color: #0c5460;
}

.maxSidebarWidth {
  max-width: 270px;
}
/**************************************************/
/* Posts CSS */
/**************************************************/
.postRow {
  padding-top: 5px;
  padding-bottom: 5px;
}

.postRow .card,
.postRow .postsCreateDiv {
  max-width: 600px;
  width: 100%;
}

.postRow .card .postsImg {
  max-height: 550px;
}

/**************************************************/
/* Navbar CSS*/
/**************************************************/
.profileInitalCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
.maxDivWidth {
  max-width: 1200px;
}
/**************************************************/
/* Login & Logout CSS*/
/**************************************************/
.signInOutDiv {
  max-width: 425px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 5px;
}

.signInOutDiv h2 {
  margin: 0 0 15px;
}

.signInOutDiv .stickyAlert .alert {
  margin: 0;
}

.signInOutDiv .hint-text {
  color: #777;
  padding-bottom: 0px;
  text-align: center;
}

.signInOutDiv .fgotPass-text {
  padding-top: 8px;
}

.signInOutDiv .input-group-text .fa {
  width: 18px;
}

.signInOutDiv .or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.signInOutDiv .or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}

.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

/**************************************************/
/* Profile CSS */
/**************************************************/

/**************************************************/
/* GuruCollection CSS*/
/**************************************************/
.guruCollectionTable .maxColWidth-50 {
  max-width: 50px;
}

.guruCollectionTable .maxColWidth-175 {
  max-width: 175px;
}
.guruCollectionTable .maxColWidth-200 {
  max-width: 200px;
}
.guruCollectionTable td.alignCenter {
  text-align: center;
}

.guruCollectionTable a {
  color: #000;
}
@media (max-width: 1200px) {
  .guruCollectionTable {
    font-size: 0.75rem;
  }
}

/**************************************************/
/* TRADE CSS*/
/**************************************************/

.bgListItem {
height: "8px"
}

.bgListImg{
  border-radius: 50%;
  height:50px;
  width:50px;
}

