/************************************************** 
Search the following category to find things easier
Posts CSS
Login & Logout CSS
Navbar CSS
Sidebar CSS
Profile CSS
GuruCollection CSS
Calendar CSS
***************************************************/
html,
body {
  height: 100%;
}
:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

body {
  background-color: rgb(231, 231, 231);
  background-repeat: repeat;
}

.bgImage {
  background-image: url("./images/bgBackground.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.header-font {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}
/*general class for changing item to button*/
.cursor-pointer{
  cursor: pointer;
}
/**************************************************/
/* Sidebar CSS */
/**************************************************/
.list-group-item.active {
  background-color: #bee5eb;
  border-color: #bee5eb;
  color: #0c5460;
}

.maxSidebarWidth {
  max-width: 270px;
}
/**************************************************/
/* Posts CSS */
/**************************************************/
.postRow {
  padding-top: 5px;
  padding-bottom: 5px;
}

.postRow .card,
.postRow .postsCreateDiv {
  max-width: 600px;
  width: 100%;
}

.postRow .card .postsImg {
  max-height: 550px;
}

/**************************************************/
/* Navbar CSS*/
/**************************************************/
.profileInitalCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
.maxDivWidth {
  max-width: 1200px;
}
/**************************************************/
/* Login & Logout CSS*/
/**************************************************/
.signInOutDiv {
  max-width: 425px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 5px;
}

.signInOutDiv h2 {
  margin: 0 0 15px;
}

.signInOutDiv .stickyAlert .alert {
  margin: 0;
}

.signInOutDiv .hint-text {
  color: #777;
  padding-bottom: 0px;
  text-align: center;
}

.signInOutDiv .fgotPass-text {
  padding-top: 8px;
}

.signInOutDiv .input-group-text .fa {
  width: 18px;
}

.signInOutDiv .or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.signInOutDiv .or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}

.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

/**************************************************/
/* Profile CSS */
/**************************************************/

/**************************************************/
/* GuruCollection CSS*/
/**************************************************/
.guruCollectionTable .maxColWidth-50 {
  max-width: 50px;
}

.guruCollectionTable .maxColWidth-175 {
  max-width: 175px;
}
.guruCollectionTable .maxColWidth-200 {
  max-width: 200px;
}
.guruCollectionTable td.alignCenter {
  text-align: center;
}

.guruCollectionTable a {
  color: #000;
}
@media (max-width: 1200px) {
  .guruCollectionTable {
    font-size: 0.75rem;
  }
}

/**************************************************/
/* Calendar CSS*/
/**************************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.calendar .icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* GRID */
.calendar .body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

.calendar .header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.calendar .header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

.calendar .header #logo .icon {
  padding-right: 0.25em;
}

.calendar .main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

.calendar .row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.calendar .row-middle {
  align-items: center;
}

.calendar .col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.calendar .col-start {
  justify-content: flex-start;
  text-align: left;
}

.calendar .col-center {
  justify-content: center;
  text-align: center;
}

.calendar .col-end {
  justify-content: flex-end;
  text-align: right;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.calContainer .card {
  background-color: rgb(231, 231, 231);
  border: none;
}
/**************************************************/
/* TRADE CSS*/
/**************************************************/

.bgListItem {
height: "8px"
}

.bgListImg{
  border-radius: 50%;
  height:50px;
  width:50px;
}

.ReactModal__Overlay {
  z-index: 99;
  position: absolute;
  left: 40;
  right: 140;
  top: 40;
  bottom: 10;
  background-color: rgba(255,255,255,0.75);
}